<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@list.image.key) %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container">
  <div class="d-flex flex-row-reverse mt-3">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a movie
</button>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-primary"%>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

  <div class="cards">
    <% @list.movies.each do |movie| %>
      <div class="card" style="width: 28rem;">
        <%= image_tag movie.poster_url, alt: "movie picture from #{movie.title}", width: 100, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.overview %></p>
          <%# remplacer go somewhere par bouton delete %>
          <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id) %>
          <%= link_to "delete from the list", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">

</div>
